# Ignore node_modules
node_modules/
dist/

# Ignore Java logs and build folders
hs_err_pid*.log
replay_pid*.log
build/
.gradle/
*.jar
*.class

# Ignore IDE files
.idea/
*.iml
.vscode/

# Ignore env files
.env
.env.local
.env.production
